<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a Computer Science student at
      <a class="underline-link" href="https://en.um.ac.ir/" target="_blank">Ferdowsi University of Mashhad</a>, finishing my bachelor's degree. I am interested in Machine Learning, Data Mining and their application in other fields such as NLP and Anomaly Detection. 
    </p>

    <p>
       During my time as a <strong>CS student</strong>, I became familiar with Machine Learning and its branches and found myself to be deeply intrigued by it. I participated in many projects, as an individual
      or member of a team which lead me to gain knowledge in <em> Data Sciene, Machine Learning, Statistics, Software Engineering</em>. I plan on expanding my knowledge in these fields and use them in my future projects.  
    </p>

    {% include employment-status.html %}
  </div>
</section>
