<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project behanjar">
      <figure class="project__pic">
        <a href="https://behanjar.ir/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/behanjar/behanjar-2.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.behanjar.ir" target="_blank">Behanjar</a>
        </div>
        <p>Behanjar is an anomaly detection system in users' power consumption data with.
           This system uses stastical and machine learning methods to detect certain anomalies which can be an indecator of electricty theft to detect faulty users.</p>
      </figcaption>
    </div>
<!-- 
    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.behanjar.ir" target="_blank">Behanjar</a>
        </div>
        <p>Behanjar is an anomaly detection system in users' power consumption data with.
           This system uses stastical and machine learning methods to detect certain anomalies which can be an indecator of electricty theft to detect faulty users.</p>
      </figcaption>
    </div> -->

    <div class="project betterexam">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9JhEJ3t6EK8" allowfullscreen></iframe>
      </div>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Azure-AI/Better-Exam" target="_blank">Better Exam</a>
        </div>
        <p>An exam hosting service for the visually impaired for Azure AI Hackaton 2021.</p>
      </figcaption>
    </div>
  </div>
</section>
